=============== ТЕКСТ ЗАДАНИЯ 6 ===============

Вам необходимо подготовить предоставленную выборку к анализу:   
ЭТАП 1. Загрузить данные в среду разработки Python   
ЭТАП 2. Вывести первые 5 строк данных   
ЭТАП 3. Посчитать количество данных до подготовки   
ЭТАП 4. Найти максимальное, минимальное и среднее значение выборки   
ЭТАП 5. Удалить пустые строки   
ЭТАП 6. Заменить пустые строки средними данными   
ЭТАП 7. Удалить ненужный столбец ID   
ЭТАП 8. Убрать выбросы   
ЭТАП 9. Вывести итоговую таблицу   
ЭТАП 10. Найти ошибки в данных и исправить их*

ЭТАП1. Загрузка данных

In [95]:
import pandas as pd

file_path = 'ПР_№1_учебная выборка (ПЗ-2).xlsx'
df = pd.read_excel(file_path)

ЭТАП2. Просмотр 5 строк

In [96]:
df.columns

Index(['Дата', 'Продажи_RUB', 'Количество_единиц', 'Рейтинг_продукта'], dtype='object')

In [97]:
print(df.head(5))

         Дата    Продажи_RUB Количество_единиц  Рейтинг_продукта
0  2025-01-01   62435.616639              22.0          1.381640
1  2025-01-02  143100.002897              30.0          2.483273
2  2025-01-03  112479.151854              48.0          3.675365
3  2025-01-04   93812.187788              38.0          3.663689
4  2025-01-05   31842.609662              14.0          3.365191

ЭТАП7 (ЗАРАНЕЕ УДАЛЮ СТОЛБЕЦ ДАТА)

In [98]:
# Удалить столбец из DataFram-а можно методами:
# del, pop, drop
df = df.drop(columns='Дата')
df.head(10)

    Продажи_RUB Количество_единиц  Рейтинг_продукта
0  6.243562e+04              22.0          1.381640
1  1.431000e+05              30.0          2.483273
2  1.124792e+05              48.0          3.675365
3  9.381219e+04              38.0          3.663689
4  3.184261e+04              14.0          3.365191
5  3.183923e+04              40.0          2.098887
6  1.813171e+04              18.0               NaN
7  1.312647e+05              35.0          2.531707
8  5.000000e+06              19.0          4.886848
9  1.091302e+05               NaN          4.395655

ЭТАП3. Кол. данных до подготовки

In [99]:
num_rows = df.shape[0]
print(f"Изначальное кол. строк: {num_rows}")

Изначальное кол. строк: 50

ЭТАП4. Макс, мин, среднее знач. выборки

In [100]:
# Отделяем числовые столбцы (для вычислений!)
numerical_columns = df.select_dtypes(include='number')

# Находим максимальное, минимальное и среднее значение
max_values = numerical_columns.max()
min_values = numerical_columns.min()
mean_values = numerical_columns.mean()

# Выводим результаты
print("Максимальные значения:\n", max_values)

Максимальные значения:
 Продажи_RUB         5000000.0
Рейтинг_продукта         10.5
dtype: float64

In [55]:
print("\nМинимальные значения:\n", min_values)

Минимальные значения:
 Продажи_RUB        -50000.000000
Рейтинг_продукта        1.002082
dtype: float64

In [56]:
print("\nСредние значения:\n", mean_values)

Средние значения:
 Продажи_RUB         170227.141370
Рейтинг_продукта         3.134325
dtype: float64

Просто определим кол. пустых строк

In [57]:
print("Количество пустых строк:")
print(df.isnull().sum())

Количество пустых строк:
Продажи_RUB          2
Количество_единиц    2
Рейтинг_продукта     3
dtype: int64

### 10) ОШИБКА В ДАННЫХ
Исследуя типы столбцов и данные в файле
Обнаружил, что столбец Количество_единиц содержит слово Двадцать, из-за чего не интерпритируется как числовой, 
даже после очистки нулевых строк!

In [101]:
print("Типы столбцов:") 
print(df.dtypes) 
df.head(5) # Для самопроверки какие есть столбцы

Типы столбцов:
Продажи_RUB          float64
Количество_единиц     object
Рейтинг_продукта     float64
dtype: object

     Продажи_RUB Количество_единиц  Рейтинг_продукта
0   62435.616639              22.0          1.381640
1  143100.002897              30.0          2.483273
2  112479.151854              48.0          3.675365
3   93812.187788              38.0          3.663689
4   31842.609662              14.0          3.365191

In [105]:
# Внесём изменение исключив проблемную строку из столбца Количество_единиц равно "Двадцать" (с учетом регистра)
print(f"До исключения {len(df)}")
df = df[df['Количество_единиц'] != 'двадцать']
print(f"После исключения {len(df)}")

## Необходимо оценить, ошибки в данных будут лучше при удалении пустых строк или их усреднении

### Вариант замены пустых строк средними данными

In [108]:
# Рассчёт средних значений
df_fillevg = df.select_dtypes(include='number')
mean_values = df_fillevg.mean()
# Почему-то при рассчёте средних значений столбец продажи пропадает. Разве он не числовой?
print("Средние значения")
print(mean_values)

Средние значения
Продажи_RUB         173089.918178
Рейтинг_продукта         3.171081
dtype: float64

In [79]:
# До замены df средними значениями
df_fillevg.head(10)

    Продажи_RUB  Рейтинг_продукта
0  6.243562e+04          1.381640
1  1.431000e+05          2.483273
2  1.124792e+05          3.675365
3  9.381219e+04          3.663689
4  3.184261e+04          3.365191
5  3.183923e+04          2.098887
6  1.813171e+04               NaN
7  1.312647e+05          2.531707
8  5.000000e+06          4.886848
9  1.091302e+05          4.395655

In [80]:
# Замена пустых строк средними значениями
df_fillevg = df_fillevg.fillna(mean_values) # , inplace=True
# После замены df средними значениями
df_fillevg.head(10)

    Продажи_RUB  Рейтинг_продукта
0  6.243562e+04          1.381640
1  1.431000e+05          2.483273
2  1.124792e+05          3.675365
3  9.381219e+04          3.663689
4  3.184261e+04          3.365191
5  3.183923e+04          2.098887
6  1.813171e+04          3.134325
7  1.312647e+05          2.531707
8  5.000000e+06          4.886848
9  1.091302e+05          4.395655

### Уберём выбросы исп. м. межквартильного размаха IQR
Для определения выбросов потребуется:
1. Рассчитать квартили
2. Определить границы выбросов
3. Убрать сами выбросы

In [ ]:
# Одним из простых способов обнаружить выбросы является использование 
# метода межквартильного размаха IQR 

# Пример их рассчёта:
data = {'value': [10, 12, 12, 13, 12, 11, 45, 12, 11, 14, 13, 10]} 
test_df = pd.DataFrame(data) 

print("Исходные данные:") 
print(test_df.head(3)) 

# Вычисляем первый и третий квартиль
Q1 = test_df['value'].quantile(0.25)
Q3 = test_df['value'].quantile(0.75)
IQR = Q3 - Q1

# Определяем границы для выбросов
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Убираем выбросы
df_cleaned = test_df[(test_df['value'] >= lower_bound) & (test_df['value'] <= upper_bound)]
df_cleaned

In [ ]:
# Одним из простых способов обнаружить выбросы является использование 
# метода межквартильного размаха IQR

# Пример их рассчёта:
data = {'value': [10, 12, 12, 13, 12, 11, 45, 12, 11, 14, 13, 10]}
test_df = pd.DataFrame(data)

print("Исходные данные:")
print(test_df.head(3))

# Вычисляем первый и третий квартиль
Q1 = test_df['value'].quantile(0.25)
Q3 = test_df['value'].quantile(0.75)
IQR = Q3 - Q1

# Определяем границы для выбросов
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Убираем выбросы
df_cleaned = test_df[(test_df['value'] >= lower_bound) & (test_df['value'] <= upper_bound)]
df_cleaned

### Вариант зануления пустых строк

In [61]:
# Удаляем пустые строки
df_delnan = df.dropna()

In [20]:
# ЭТАП 8. Убрать выбросы   
# ЭТАП 9. Вывести итоговую таблицу   
# ЭТАП 10. Найти ошибки в данных и исправить их*